<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rrat.advancedstateandsideeffets">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
    Android 11 package visibility changes require that apps specify which
    set of other packages on the device that they can access. Since this
    sample uses Google Maps, specifying the Google Maps package name is
    required so that the buttons on the Map toolbar launch the Google Maps app.
-->
    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <application

        android:name=".AdvancedStateApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdvancedStateAndSideEffets"
        tools:targetApi="31">



        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}"/>

        <activity

            android:name=".details.DetailsActivity"
            android:exported="false" />

        <activity
            android:name=".home.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AdvancedStateAndSideEffets">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>